.modal
{
    background-color: rgb(0, 0, 0,0.5);
    position: fixed;    
    top: 0;
    bottom: 0;
    left: 0 ;
    right: 0;
    padding: 10%;
    visibility: hidden;
    pointer-events: none
    
}

.modal--active 
{ 
    visibility:  visible;
    pointer-events: auto; 
}

/*
.modal__conteudo
{
    
}*/